/* GENERAL */
* {
  box-sizing: border-box;
}

body {
  font-family: "Trip Sans", sans-serif;
}

.container {
  width: 1135px;
  margin: 0 auto;
}

button {
  /* Pour hériter de la taille et de la police du parent  */
  font-size: inherit;
  font-family: inherit;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  height: 40px;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div img {
  height: 40px;
}

header div nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

header div nav a:hover {
  background-color: rgb(238, 238, 238);
  padding: 10px;
  border-radius: 20px;
}

button {
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

header button:hover {
  opacity: 0.5;
}

/* MAIN */
main {
  margin-top: 45 px;
}
main div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 65px;
  gap: 10px;
}

main div a {
  flex: 1;
  border: 1px solid black;
  padding: 15px;
  height: 65px;
  display: flex;
  border-radius: 20px;
}

main div a:hover {
  background-color: black;
  color: white;
  height: 65px;
}

main div a i {
  text-align: end;
}
